
accelerate>=0.26.0
torch
torchvision
torchaudio
# You need to run this to run FBGEMM https://pytorch.org/FBGEMM/fbgemm_gpu-development/InstallationInstructions.html#fbgemm-gpu-install-libraries
# for Llama
# conda install -c conda-forge --override-channels -y
#     hypothesis \
#     numpy \
#     scikit-build
